@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] text-gray-300;
  }
}
@layer components {
  .text__saya {
    @apply bg-gray-50 w-full text-gray-300 text-center;
  }
}
